<html>
<head>
    <title>RadioSet Simulator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h2>RadioSet Simulator</h2>

    <form action="{% url 'admin:index' %}">
        <input type="submit" value="Admin" />
    </form>
    <form action="{% url 'simulator' %}">
        <input type="submit" value="ICOM IC-M330GE" />
    </form>
    <form action="{% url 'create_rooms' %}">
        <input type="submit" value="Create Rooms" />
    </form>
    <form action="{% url 'create_room' %}">
        <input type="submit" value="Create single room" />
    </form>
    <form action="{% url 'simple_call' %}">
        <input type="submit" value="Simple Call" />
    </form>
    <div id="config"></div>
    <div id="result"></div>
    <br>
</body>
</html>
