<html>
<head>
    <title>RadioSet Simulator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h2>RadioSet Simulator</h2>
    <h3>Kind of a menu:</h3>

    <form action="{% url 'admin:index' %}">
        <input type="submit" value="Admin" />
    </form>
    <form action="{% url 'simulator' %}">
        <input type="submit" value="ICOM IC-M330GE simulation" />
    </form>
    <form action="{% url 'list_rooms' %}">
        <input type="submit" value="List application rooms" />
    </form>
    <form action="{% url 'create_room' %}">
        <input type="submit" value="Create a single room" />
    </form>
    <form action="{% url 'simple_call' %}">
        <input type="submit" value="Simple Call" />
    </form>
    <form action="{% url 'complex_call' %}">
        <input type="submit" value="Complex Call with Room-Selection" />
    </form>
    <form action="{% url 'recaptcha_demo' %}">
        <input type="submit" value="Registration with reCAPTCHA" />
    </form>
</body>
</html>
