<html>
<head>
    <title>VoIP Simple Call</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/lib/matrix.js"></script>
    <script src="../static/js/simple_call.js"></script>
</head>
<body>
    <h2>Simple Call</h2>
    <a href="{% url 'home_view' %}">Home</a>
    <h4>You can place and receive calls with this page. First select a user:</h4>
    <button id="tf001">tf001</button>
    <button id="tf002">tf002</button>
    <button id="tf003">tf003</button>
    <br><br>
    <div id="config"></div>
    <div id="result"></div>
    <br>
    <button id="call-audio">Place Call</button>
    <button id="answer">Answer Call</button>
    <button id="hangup">Hangup Call</button>
</body>
</html>
